.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(110, 107, 107);
  margin: 0px;
}

.Bg-Image{
  background-image: url("./Images/Japan-2107x1406.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
