.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url("./Images/tokyo_street_highly_detailed_hyper-detailed_architec_d4cdd784-971a-459e-9ca7-8eb583b7495d.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}

.Bg-Image{
  background-image: url("./Images/Japan-2107x1406.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
