
.firstPage {
    margin-top: 150px;
    margin-left: 450px;
  }

  .falling-stars-container1{
    position: absolute;
    z-index: -1;
    margin-top: 10%;
  }
  .falling-stars-container2{
    position: absolute;
    z-index: -1;
    margin-top: 8%;
    margin-left: 15%;
  }
  .falling-stars-container3{
    position: absolute;
    z-index: -1;
    margin-top: 2%;
    margin-left: 30%;
  }